{% extends 'habits/base.html' %}
{% load static %}
{% for key, list_habits in habits.items  %}
    {% for id, info in list_habits.items %}
    <div>{{info}}</div>
    {% endfor %}

{% endfor %}

    {% comment %} {{habit}} {% endcomment %}

{% comment %} {{habits}} {% endcomment %}
{{% block content %}

{% for habit in habits  %}
    <div class="mymaxsize row  habit--primary habit__label  ">
    <div class="mymargin left">{{habit.name}}</div>
<form  align="center" action="/habit-check/ method="post">
    {% for field in habit.form %}
        {{ field }}
    {% endfor %}
    <input type="submit" value="Submit">
</form>
    <div class="streaks mymargin right" > Стрик: {{habit.streak}}
    </div>

</div>
{% endfor %}
{% endblock content %}}
